/diagrams/BackEnd/BackEnd/bin
/diagrams/BackEnd/BackEnd/obj

/BackEnd/.vs
/BackEnd/packages

/BackEnd/BackEnd/bin
/BackEnd/BackEnd/obj

/BackEnd/DataAccessBuilder/bin
/BackEnd/DataAccessBuilder/obj

/BackEnd/DataAccessContract/bin
/BackEnd/DataAccessContract/obj

/BackEnd/DataAccessLayer/bin
/BackEnd/DataAccessLayer/obj

/BackEnd/DataContract/bin
/BackEnd/DataContract/obj

/BackEnd/DataTypes/bin
/BackEnd/DataTypes/obj

/BackEnd/Services/bin
/BackEnd/Services/obj

/BackEnd/ServicesBuilder/bin
/BackEnd/ServicesBuilder/obj

/BackEnd/ServicesContract/bin
/BackEnd/ServicesContract/obj