html, body {
	margin : 0;
	padding : 0;
}

.content {
	width : 100vw;
	height : calc(100vh - 4em);
}

.default-list {
	width : calc(100% - 4em);
	height : calc(100% - 4em);
	
	padding : 2em;
	overflow-y : scroll;
}

.default-list-item {
	margin-bottom : 1em;
	padding : 0.7em 1em;
	box-shadow: 0em 0.25em 0.5em 0em rgba(0,0,0,0.2);
}

.default-sampler {
	width : 1.5em;
	height : 1.5em;
	
	top : 0.2em;
	position : relative;
	margin-right : 0.5em;
	display : inline-block;
	
	border-radius : 0.2em;
	border : 0.05em solid rgb(53, 54, 58);
}

.common-button {
	width : 5em;
	height : 1em;
	
	margin-left : 2em;
	
	padding : 0.5em;
	cursor : pointer;
	text-align : center;
	color : rgb(53, 54, 58);
	display : inline-block;
	
	border-radius : 0.2em;
	border : 0.1em solid rgb(53, 54, 58);
}

.common-button:hover {
	color : white;
	background-color : rgb(53, 54, 58);
	transition : color 0.5s, background-color 0.5s;	
}

.common-button[disabled], .common-button[disabled]:hover {
	background-color : rgb(200, 200, 200);
	border : 0.1em solid rgb(150, 150, 150);
	color : rgb(150, 150, 150);
}

.common-button[hidden], .common-button[hidden]:hover {
	display : none;
}

.edit-button, .delete-button {
	width : 1em;
	height : 1em;
	
	float : right;	
	margin : 0.1em;
	cursor : pointer;
	
	background-size: cover;
	background-position: center;
	background-repeat : no-repeat;
}

.edit-button {
	background-image : url(../resources/edit.png);
}

.delete-button {
	background-image : url(../resources/delete.png);
}