.material-sampler::before {
	content: "";
	position: absolute;
	left: 0; top: 0;  right: 0; bottom: 0;
	background-color: var(--color-mask);
}

.material-sampler {
	width : 6em;
	height : 6em;
	
	background-size: cover;
	background-position: center;
	background-repeat : no-repeat;
	background-image : var(--texture);
}

.material-sampler:tooltip {
	background-color : red;
}