.popup-wrapper {
	position : fixed;
	top : 0; left : 0;
	width : 100vw; height : 100vh;
	background-color : #DDDDDD77;
}

.popup-body {
	width : 20em;
	max-height : 10em;
	
	padding : 1em;
	overflow-y : scroll;
	
	border-radius : 0.2em;
	border : 1px solid black;
	background-color : white;
}