/.vs
/packages

/FHelper/FHelper/bin
/FHelper/FHelper/obj

/FHelper/FHelper.Android/bin
/FHelper/FHelper.Android/obj

/FHelper/Models/bin
/FHelper/Models/obj

/FHelper/Services/bin
/FHelper/Services/obj

/FHelper/ServerAccess/bin
/FHelper/ServerAccess/obj