<html>
	<head>
		<meta charset="utf-8"/>
		<title>Furniture Helper</title>
		<link rel="stylesheet" href="../styles/common.css"/>
		<link rel="stylesheet" href="../styles/page_wrapper.css"/>
		<link rel="stylesheet" href="../styles/fall_down_menu.css"/>
		<link rel="stylesheet" href="../styles/loader.css"/>
		<link rel="stylesheet" href="../styles/part_list.css"/>
		<link rel="stylesheet" href="../styles/default_form.css"/>
		<link rel="stylesheet" href="../styles/popup.css"/>
		
		<script src="../scripts/libs/vue.js"></script>
		<script src="../scripts/libs/jquery.js"></script>
		<script src="../scripts/libs/three.js"></script>
		
		<script src="../scripts/pay.js"></script>
		<script src="../scripts/cart.js"></script>
		<script src="../scripts/popup.js"></script>
		<script src="../scripts/connector.js"></script>
		<script src="../scripts/continious_handler.js"></script>
		<script src="../scripts/response_handler.js"></script>
	</head>
	<body>
		<div id="header-wrapper"></div>
		
		<div class="content">
			<div id="loader" class="centered-loader default-loader"></div>
			<div id="part-list-wrapper" class="default-list">
				<div v-for="partPosition in partStore" class="default-list-item">
					<div class="part-info">
						#{{ partPosition.part.id }} "{{ partPosition.part.name }}" 
						<span v-if="partPosition.part.description != ''">— {{ partPosition.part.description }}</span>
					</div>
					<table v-for="materialPosition in partPosition.material_positions" cellspacing="5">
						<th v-bind:colspan="materialPosition.color_positions.length">
							Material: #{{ materialPosition.material.id }} {{ materialPosition.material.name }} — 
							{{ Math.round(partPosition.part.price * materialPosition.material.price_coeff * 100) / 100 }} UAH
						</th>
						<tr>
							<td v-for="colorPosition in materialPosition.color_positions">
								<center>
									<span v-if="colorPosition.amount == 0">Not available</span>
									<span v-if="colorPosition.amount != 0">Stored amount: {{ colorPosition.amount }}</span>
								</center>
							</td>
						</tr>
						<tr>
							<td v-for="colorPosition in materialPosition.color_positions">
								<div v-bind:model="partPosition.part.model_url" 
									 v-bind:texture="materialPosition.material.texture_url" 
									 v-bind:color="colorPosition.color.hex" 
									 v-bind:title="partPosition.part | partTooltip materialPosition.material colorPosition.color"
									 v-bind:part-id="partPosition.part.id"
									 v-bind:part-name="partPosition.part.name"
									 v-bind:part-price="partPosition.part.price"
									 v-bind:material-id="materialPosition.material.id"
									 v-bind:material-name="materialPosition.material.name"
									 v-bind:material-price="materialPosition.material.price_coeff"
									 v-bind:color-id="colorPosition.color.id"
									 v-bind:color-name="colorPosition.color.name"
									 v-bind:max-amount="colorPosition.amount"
									 onclick="updateSelectedPart()"
									 class="part-sampler" 
								></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<center id="popupHolder"></center>
		<center id="errorPopupHolder"></center>
		
		<div class="footer"></div>
		
		<script>
			
			let selectedPart = { part : undefined, material : undefined, color : undefined, max_amount : undefined };
			let addToCartPopup = createPopup({
				holder : "popupHolder", bodyStyle : "popup-body", wrapperStyle : "popup-wrapper",
				content : "<div id='add-to-cart-popup'>" + 
								"Add to cart \"{{ part.name }}\" made of \"{{ material.name }}\" colored \"{{ color.name }}\" <br/><br/>" + 
								"<form id='add-to-cart-form'>" + 
									"<div class='form-input-wrapper'>" + 
										"<label for='amount'>Amount: </label>" + 
										"<input class='form-input' name='amount' v-model='amount' type='number' min='1' value='1' v-bind:max='max_amount'></input>" +
									"</div>" + 
									"<br/><center>" + 
										"<span> Total: {{ Math.round(part.price * material.price * (amount == null ? 0 : amount) * 100) / 100 }}UAH &nbsp&nbsp&nbsp</span>" + 
										"<input class='form-submit' onclick='addToCart()' type='submit' value='Add to cart'></input>" + 
									"</center>" + 
								"</form>" + 
						  "</div>",
				vue : () => {
					new Vue({
						el : "#add-to-cart-popup",
						data : selectedPart
					});
				}
			});
			
			let error = { message : undefined };
			let errorPopup = createPopup({
				holder : "errorPopupHolder", bodyStyle : "popup-body", wrapperStyle : "popup-wrapper",
				content : "<div id='errorPopup'>{{ message }}</div>",
				vue : () => {
					new Vue({
						el : "#errorPopup",
						data : error
					});
				}
			});
			
			Vue.filter("partTooltip", (part, material, color) => {
				return "#" + part.id + " " + part.name + ", #" + material.id + " " + material.name + ", #" + color.id + " " + color.name;
			});
		
			async function init() {
				let loader = document.getElementById("loader");
				partListHandler(await handleContinious(getPartList, loader));
		
				$(function(){ $("#header-wrapper").load("header.html"); });
			}
			
			async function getPartList() {
				return await SendGetAsync("part/get");
			}
			
			function partListHandler(result) {
				handleResponse(
					result,
					err => {
						error.message = err.error_message;
						errorPopup.show();
					},
					data => buildPartList(data)
				);
			}
			
			function buildPartList(partList) {
				new Vue({
					el : "#part-list-wrapper",
					data : { partStore : partList.positions } 
				});
			}
			
			async function addToCart() {
				if(!document.getElementById("add-to-cart-form").checkValidity()) {
					error.message = "Invalid data!";
					errorPopup.show();
				} else {
					await dropPaymentInfo();
					addToCartPopup.hide();
					await addToCartStore(selectedPart);
				}
			}
			
			function updateSelectedPart() {
				let part = window.event.currentTarget;
				let newSelectedPart = {
					part : {
						id : part.getAttribute("part-id"),
						name : part.getAttribute("part-name"),
						price : part.getAttribute("part-price")
					}, material : {
						id : part.getAttribute("material-id"),
						name : part.getAttribute("material-name"),
						price : part.getAttribute("material-price")
					}, color : {
						id : part.getAttribute("color-id"),
						name : part.getAttribute("color-name"),
					}, max_amount : part.getAttribute("max-amount")
				}
			
				Object.assign(selectedPart, newSelectedPart);
				addToCartPopup.show();
				
				window.event.preventDefault();
				window.event.stopPropagation();
			}
			
			function render(renderer, scene, camera, motion) {
				requestAnimationFrame(() => render(renderer, scene, camera, motion));
				renderer.render(scene, camera);
				motion();
			}
			
			function initPartRenderers() {
				let partRenderers = $(".part-sampler");
				for(let partRenderer of partRenderers) {
					let hex = partRenderer.getAttribute("color");
					let red = parseInt(hex.substr(0, 2), 16) / 256;
					let green = parseInt(hex.substr(2, 2), 16) / 256;
					let blue = parseInt(hex.substr(4, 2), 16) / 256;
					let alpha = parseInt(hex.substr(6, 2), 16) / 256;
					
					let textureUrl = partRenderer.getAttribute("texture");
					let modelUrl = partRenderer.getAttribute("model");
				
					let scene = new THREE.Scene();
					scene.background = new THREE.Color(0xFFFFFF);
					
					let renderer = new THREE.WebGLRenderer();
					renderer.shadowMap.enabled = true;
					renderer.shadowMap.type = THREE.PCFSoftShadowMap;
					renderer.domElement.classList.add("part-renderer");
					renderer.setSize(partRenderer.offsetWidth, partRenderer.offsetHeight);
					partRenderer.appendChild(renderer.domElement);
					
					let camera = new THREE.PerspectiveCamera(30, partRenderer.offsetWidth / partRenderer.offsetHeight, 0.1, 1000);
					camera.position.set(2, 3, 5);
					camera.lookAt(new THREE.Vector3(0, 0, 0));
					
					let partGeometry = new THREE.BoxGeometry().rotateY(-0.4);
					let partTexture = new THREE.TextureLoader().load(textureUrl);
					let partMaterial = new THREE.MeshMatcapMaterial( { map: partTexture } );
					
					partMaterial.onBeforeCompile = shader => {
						shader.uniforms.mycolor = { value : new THREE.Color(red * alpha, green * alpha, blue * alpha) };
						shader.fragmentShader = shader.fragmentShader.replace(
							"uniform vec3 diffuse;", 
							"uniform vec3 mycolor;\nuniform vec3 diffuse;"
						);
						shader.fragmentShader = shader.fragmentShader.replace(
							"gl_FragColor = vec4( outgoingLight", 
							"outgoingLight = vec3((outgoingLight.x + mycolor.x) / 2.0, (outgoingLight.y + mycolor.y) / 2.0, (outgoingLight.z + mycolor.z) / 2.0);\n gl_FragColor = vec4( outgoingLight"
						);
					};
					
					let part = new THREE.Mesh(partGeometry, partMaterial);
					part.castShadow = true;
					scene.add(part);
					
					let light = new THREE.PointLight(0xFFFFFF, 1);
					light.position.set(10, 10, 10);
					light.castShadow = true;
					scene.add(light);
					
					let bottomPlaneGeometry = new THREE.PlaneGeometry(20, 20, 32, 32).rotateX(-Math.PI / 2).translate(0, -2, 0);
					let bottomPlaneMaterial = new THREE.MeshPhysicalMaterial( { color: 0xFFFFFF } );
					let bottomPlane = new THREE.Mesh(bottomPlaneGeometry, bottomPlaneMaterial);
					bottomPlane.receiveShadow = true;
					scene.add(bottomPlane);
					
					let backPlaneGeometry = new THREE.PlaneGeometry(20, 20, 32, 32).translate(0, 0, -2);
					let backPlaneMaterial = new THREE.MeshPhysicalMaterial( { color: 0xEEEEEE } );
					let backPlane = new THREE.Mesh(backPlaneGeometry, backPlaneMaterial);
					backPlane.receiveShadow = true;
					scene.add(backPlane);
					
					let leftPlaneGeometry = new THREE.PlaneGeometry(20, 20, 32, 32).rotateY(Math.PI / 2).translate(-2, 0, 0);
					let leftPlaneMaterial = new THREE.MeshPhysicalMaterial( { color: 0xDDDDDD } );
					let leftPlane = new THREE.Mesh(leftPlaneGeometry, leftPlaneMaterial);
					leftPlane.receiveShadow = true;
					scene.add(leftPlane);
					
					render(renderer, scene, camera, () => {
						part.geometry.rotateX(0.01);
						part.geometry.rotateY(0.01);
					});
				}
			}
			
			init();
			$(document).ready(() => initPartRenderers());
		</script>
	</body>
</html>